#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  background: url(./assets/shopping.jpg) no-repeat center center fixed;
  background-size: cover;
}

img {
  width: 75px;
}

img:hover {
  background-color: yellow;
  cursor: pointer;
}

input {
  width: 25px;
  height: 25px;
  text-align: center;
}

nav {
  background-color: white;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

a,
p {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

a:hover {
  background-color: black;
  color: white;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.home-text {
  color: white;
  display: flex;
  width: 50vw;
  text-align: center;
  justify-content: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 50vw;
  background-color: rgb(0, 0, 0, 0.7);
  padding: 20px;
}

.home {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  border: solid 1px black;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  margin-top: 50px;
  padding: 15px;
  background-color: white;
}

.description {
  width: 350px;
}

.title {
  width: 350px;
}

.add-to-car {
  display: flex;
  align-items: center;
  margin-top: 19.2px;
}

.minus-plus {
  width: 30px;
  height: 30px;
  background-color: aqua;
  margin: 10px;
}

/* -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; */

.total {
  color: white;
  font-size: 2rem;
  margin-top: 15px;
  background-color: rgb(0, 0, 0, 0.9);
  padding: 10px;
}

.empty,
.loading {
  font-size: 2rem;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 500px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}

.shop {
  margin-top: 75px;
}
