html {
  background: url(./assets/shopping.jpg) no-repeat center center fixed;
  background-size: cover;
}

.home-text {
  color: white;
  display: flex;
  width: 50vw;
  text-align: center;
  justify-content: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-top: 125px;
  align-items: center;
  background-color: black;
  width: 50vw;
  background-color: rgb(0, 0, 0, 0.7);
  padding: 20px;
}

.dary {
  display: flex;
  justify-content: center;
}

/* -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; */
