.items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

img {
  width: 75px;
}

.card {
  border: solid 1px black;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  background-color: white;
}

.description {
  width: 350px;
}

.title {
  width: 350px;
}

input {
  width: 25px;
  height: 25px;
  text-align: center;
}

.add-to-car {
  display: flex;
  align-items: center;
}

.minus-plus {
  width: 30px;
  height: 30px;
  background-color: aqua;
  margin: 10px;
}

img:hover {
  background-color: yellow;
  cursor: pointer;
}
