nav {
  background-color: white;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  color: black;
}

a,
p {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  padding: 20px;
}

a:hover {
  background-color: black;
  color: white;
}
